[build]
builder = "dockerfile"

[deploy]
startCommand = "dotnet BlazorPostgresStarter.dll"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
healthcheckPath = "/health"
healthcheckTimeout = 100